<nav class="navbar navbar-expand-lg bg-custom" data-bs-theme="dark">

    <div class="container-fluid">
        <div class="form-check form-switch mx-4">
            <input class="form-check-input p-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked
                (click)="toggleTheme()" />

        </div>
        <a class="navbar-brand" href="#">Caribean</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" fdprocessedid="iq6dz">Search</button>
            </form>
        </div>
    </div>
</nav>
<h1 class="h1">Categorias</h1>
<div class="container">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Nueva Categoria
    </button>

    <div *ngIf="confirmationMessage" class="alert alert-success">{{ confirmationMessage }}</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">category_id</th>
                <th scope="col">acronym</th>
                <th scope="col">category</th>
                <th scope="col">status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <th scope="row">{{ category.category_id }}</th>
                <td>{{ category.acronym }}</td>
                <td>{{ category.category }}</td>
                <td>{{ category.status }}</td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #categoryForm="ngForm" (ngSubmit)="createCategory()">

                    <div class="mb-3">
                        <label for="category_id" class="col-form-label">Category ID:</label>
                        <input type="text" class="form-control" id="category_id" name="category_id" required
                            [(ngModel)]="newCategory.category_id" #categoryInput="ngModel">
                        <div *ngIf="categoryInput.invalid && (categoryInput.dirty || categoryInput.touched)"
                            class="text-danger">
                            ID es obligatorio.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="acronym" class="col-form-label">Acronym:</label>
                        <input type="text" class="form-control" id="acronym" name="acronym" required
                            [(ngModel)]="newCategory.acronym" #acronymInput="ngModel">
                        <div *ngIf="acronymInput.invalid && (acronymInput.dirty || acronymInput.touched)"
                            class="text-danger">
                            Acrónimo es obligatorio.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">Category:</label>
                        <input type="text" class="form-control" id="category" name="category" required
                            [(ngModel)]="newCategory.category" #categoryInput="ngModel">
                        <div *ngIf="categoryInput.invalid && (categoryInput.dirty || categoryInput.touched)"
                            class="text-danger">
                            Nombre de categoría es obligatorio.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid">Crear</button>

            </div>
        </div>
    </div>
</div>